{% extends 'base.html.twig' %}

{% block title %}Modifier poids{% endblock %}

{% block body %}
    <a class="mb-5" href="{{ path('app_weights_index') }}">Retour à la liste</a>
    
    <h1>Modifier les poids</h1>

    {{ include('weights/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


    {{ include('weights/_delete_form.html.twig') }}
{% endblock %}
