{% extends 'base.html.twig' %}

{% block title %}Nouveau poids{% endblock %}

{% block body %}
    <a class="mb-5" href="{{ path('app_weights_index') }}">Retour à la liste</a>
    
    <h1>Ajouter un nouveau poids</h1>

    {{ include('weights/_form.html.twig') }}

{% endblock %}
