<form method="post" action="{{ path('app_patient_delete', {'id': patient.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patient.id) }}">
    <button class="btn bg-error text-primary-cm transition-colors duration-300 hover:bg-primary-cm hover:text-white">
        <span class="material-symbols-rounded">
            delete
        </span>
    </button>
</form>
