{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1 class="text-2xl mb-6 font-bold max-lg:w-full">Create new Patient</h1>

    {{ include('patient/_form.html.twig') }}
{% endblock %}
