{% extends 'base.html.twig' %}

{% block title %}Edit Diagnostic Mental Health{% endblock %}

{% block body %}
    <h1>Edit Diagnostic Mental Health</h1>

    {{ include('diagnostic_mental_health/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_diagnostic_mental_health_index') }}">back to list</a>

    {{ include('diagnostic_mental_health/_delete_form.html.twig') }}
{% endblock %}