{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <h1>Create new Message</h1>

    {{ include('messages/_form.html.twig') }}

    <a href="{{ path('app_messages_index') }}">back to list</a>
{% endblock %}
