{% extends 'base.html.twig' %}

{% block title %}Nouveau Message{% endblock %}

{% block body %}
    <a class="mb-5" href="{{ path('app_messages_index') }}">Retour à la liste</a>

    <h1>Créer un nouveau Message</h1>

    {{ include('messages/_form.html.twig') }}

{% endblock %}
