{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="flex flex-col gap-8">
            <h1 class="font-bold text-6xl mb-6">
                404
            </h1>
            <p class="mb-6">
                Rien à voir ici, désolé !
            <p>
        </section>
    </main>
{% endblock %}
