{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn w-full mb-6 bg-primary-cm-200 text-primary-cm transition-colors duration-300 hover:bg-primary-cm hover:text-white">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
