{% extends 'base.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block body %}
    <a class="mb-5" href="{{ path('app_events_index') }}">Retour à la liste</a>

    <h1>Ajouter un nouvel évènement</h1>

    {{ include('events/_form.html.twig') }}

{% endblock %}
